.fa-solid {
    cursor: pointer;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    align-items: center;
}
.card-title {
    text-align: center;
    background-color: gray;
    color: white;
}
.card-link {
    text-decoration: none;
}